.hero{
    max-width: 100vw;
    height: 100vh;
    position: relative;
}

.hero img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero .overlay {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(19 106 213 / 80%);
}

.hero .info{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    text-align: center;
    color: white;
    margin-top: 20px;
}
@media(min-width: 992px){
    .hero .info {
        max-width: 700px;
    }
}

.hero .info span{
    font-size: .8rem;
    padding: 0.5rem 0 .8rem 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: block;
}

.hero .info h1{
    font-size: 2.5rem;
    font-weight: 700;
}

.hero .info h2{
    font-size: 1.3rem;
    padding: 0.5rem 0 2rem 0;
}
@media(max-width: 576px) {
    .hero .info {
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
        margin-left: auto;
        margin-right: auto;
    }
}