.container.cards-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.card-box {
    width: 300px;
    margin: 0 auto 30px;
    background-color: white;
    box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
    border-radius: 8px;
    transition: transform var(--main-transition), box-shadow var(--main-transition);
    -webkit-transition: transform var(--main-transition), box-shadow var(--main-transition);
    -moz-transition: transform var(--main-transition), box-shadow var(--main-transition);
    -ms-transition: transform var(--main-transition), box-shadow var(--main-transition);
    -o-transition: transform var(--main-transition), box-shadow var(--main-transition);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.card-box:hover {
    transform: translateY(-10px);
    box-shadow: 0 2px 15px rgb(0 0 0 / 20%);
}

.card-box .image{
    height: 250px;
    width: 300px;
    padding: 2px;
    border-bottom: 1px solid var(--section-background);
}
.card-box .image img{
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 8px 8px 0 0;
    -webkit-border-radius: 8px 8px 0 0;
    -moz-border-radius: 8px 8px 0 0;
    -ms-border-radius: 8px 8px 0 0;
    -o-border-radius: 8px 8px 0 0;
}

.card-box .content {
    padding: 20px;
}
.card-box .content .first-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.card-box .content .first-title span {
    padding-left: 3px;
}

.card-box .content .first-title .left-icon,
.card-box .content .first-title .right-icon {
    display: flex;
    align-items: center;
}
.card-box .content .first-title .left-icon{
    color: var(--main-color);
    font-weight: bold;
}
.card-box .content .first-title .right-icon {
    color: #ffc107;
}

.card-box .content h5 {
    color: #000000b8;
    font-weight: bold;
}
.card-box .content p {
    color: var(--p-text-color);
    margin-bottom: 20px;
}

.card-box .content .course-details span {
    display: block;
    margin-bottom: 20px;
}
.card-box .content .line {
    height: 1px;
    width: 100%;
    margin: auto;
    background-color: var(--section-background);
}
.card-box .content .info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    margin-top: 20px;
}
.card-box .content .info span {
    font-size: 22px;
    color: #000000b8;
    font-weight: bold;
}
.card-box .content .info a {
    color: var(--main-color);
}