.footer {
    background-color: var(--main-color);
    padding: 70px 0 0;
}
@media (max-width: 767px) {
    .footer {
      text-align: center;
    }
  }
.footer .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 40px;
}

.footer h3 {
    color: white;
    font-size: 22px;
    margin: 0 0 30px;
}

@media (max-width: 767px) {
    .footer .box .social {
      justify-content: center;
    }
  }

.footer .box .social a {
    background-color: rgba(255, 255, 255, 0.8);
    color: #313131;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 3px;
    width: 30px;
    height: 30px;
    font-size: 15px;
    border-radius: 50%;
    transition: var(--main-transition);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.footer .box p {
    color: rgba(255, 255, 255, 0.5);
}

.footer .box ul li {
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 10px;
}

.footer .box .info li:first-child {
    color: white;
}

.footer .footer-gallery img {
    width: 78px;
    border: 3px solid white;
    margin: 2px;
}



.footer .copyright {
    padding: 25px 0;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    margin: 50px 0 0;
    border-top: 1px solid rgba(255, 255, 255, 0.5);;
}
.footer .copyright span {
    color: white;
    font-weight: bold;
}
