/* start global rules */

* {
  box-sizing: border-box;
}
:root {
  --main-color: #136ad5;
  --p-text-color: #777;
  --span-text-color: #999;
  --main-transition: 0.3s;
  --main-padding-top: 100px;
  --main-padding-bottom: 100px;
  --section-background: #ececec;
  --hero-btn-color: #0fb0d9;
  --main-transition: 0.3s;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Lora', serif;
  margin: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 768px) {
  .container {
      width: 750px;

  }
}
@media (min-width: 992px) {
  .container {
      width: 970px;

  }
}
@media (min-width: 1200px) {
  .container {
      width: 1170px;
  }
}

.hero-btn,
.btn {
  padding: .8rem 1rem;
  border-radius: 10px;
  font-size: .8rem;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
  cursor: pointer;
  border: 1px solid transparent;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

.hero-btn {
  background: var(--hero-btn-color);
  color: white;
}

.hero-btn:hover {
  background: white;
  color: var(--hero-btn-color);
}

.btn {
  background: var(--main-color);
  color: white;
}

.btn:hover,
.btn.active {
  background: white;
  color: var(--main-color);
  border: 1px solid var(--main-color);
}

.main-title {
   text-align: center;
   margin-bottom: 50px;
}

.main-title h1 {
  color: var(--main-color);
 
}

.main-title p {
  color: var(--p-text-color);
  padding-top: 15px;
}
@media(max-width: 567px) {
  .main-title p {
    padding-left: 15px;
    padding-right: 15px;
  }

}

.section-padding {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
}
.secondery-pages{
  background-color: rgb(19 106 213 / 80%);
  padding-top: 140px;
}
@media(max-width: 540px) {
  .secondery-pages {
      padding-top: 170px;
  }
}


.app{
  position: relative;
}

.app .show-go-up,
.app .hide-go-up {
  position: fixed;
  bottom: 20px;
  font-size: 30px;
  color: var(--hero-btn-color);
  cursor: pointer;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
.app .show-go-up {
  right: 20px;
}
.app .hide-go-up {
  right: -30px;
}

.spinner {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* end global rules */


/* started section */
.started-section {
  background-color: var(--section-background);
  overflow-x: clip;
}


/* cardes section */
.cardes-section {
  background-color: var(--section-background);
}

/* news section */
.news-section {
  background-color: var(--section-background);
}

/* quote section */
.quote-section {
  position: relative;
}
.quote-section .hero {
  height: 500px;
}
.quote-section .hero .info {
  margin-top: 0;
}

/* about section */
.about-section{
  overflow: hidden;
}

/* pricing section */
.container.pricing-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

/* testimonial section */
.testimonial-section {
  background-color: var(--section-background);
}
.testimonial-section .container {
  position: relative;
  overflow: hidden;
  height: 400px;
}

/* teams section about page */

.team-section {
  background-color: var(--section-background);
}

/* news page section */
.news-page-section {
  background-color: var(--section-background);
}





