/* .accordion {
    display: flex;
    align-items: start;
    gap: 15px;
} */

.accordion .accordion-title {
    display: flex;
    align-items: center;
    font-size: 18px;
    padding-bottom: 10px;
    margin-top: 20px;
    cursor: pointer;
}
.accordion .accordion-title svg {
    font-weight: bold;
}
.accordion .accordion-title p {
    color: var(--p-text-color);
    padding-left: 10px;
}

.accordion .accordion-title.active {
    width: 100%;
    height: fit-content;
    background-color: var(--main-color);
    padding: 15px;
    margin-bottom: 15px;
    color: white;
}
.accordion .accordion-title.active p {
    color: white;
    margin: 0;
}

.accordion .accordion-content{
    display: flex;
    align-items: start;
    gap: 15px;
}
.accordion .accordion-content p {
    margin-top: 0;
}
.accordion .accordion-content img {
    width: 40%;
}

@media(max-width: 991px) {
    .accordion .accordion-content img {
        display: none;
    }
}

.accordion .accordion-content .text-div{
    flex: 1;
    font-size: 18px;
    color: var(--p-text-color);
}
